<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      width="300"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div ngbDropdown class="d-inline-block">
      <a class="btn btn-info" href="#" id="dropdownBasic1" ngbDropdownToggle
        >Manage recipe</a
      >
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Add to shopping list</button>
        <button class="dropdown-item">Edit recipe</button>
        <button class="dropdown-item">Delete recipe</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"><p>Ingredients</p></div>
</div>
